<nav id="nav">
  <img id="logo" src="{{ url_for('static', filename='icon.png') }}" />

  <h2 id="nav-header">
    {% if 'username' in session %} Hello, {{ session['username'] }} {%
    endif %}
  </h2>
  <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.register') }}">Register</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.login') }}">Login</a>
  <a class="btn-nav" href="{{ url_for('authentication_bp.logout') }}">Logout</a>
  <a class="btn-nav" href="{{ url_for('movie_library_bp.watchlist') }}">My List</a>
  <a class="btn-nav" href="{{ url_for('search_bp.search') }}">Search</a>

  <div>
    <h3>
      <a class="btn-nav" href="{{ url_for('movie_library_bp.movies_by_rank') }}">
        Browse Top Movies
      </a>
    </h3>
  </div>

  <div>
    <h3 id="sub-nav-header">Browse by Genre</h3>
    {% for genre in genre_urls %}
      <a class="btn-nav" href="{{ genre_urls[genre] }}">{{ genre }}</a>
    {% endfor %}
  </div>




</nav>
